<main class="mx-auto text-center">
{{#gif}}
    <img src="/public/you-didn't-say-the-magic-word-jurassic-park.gif" width="600">
{{/gif}}
    {{#frases}}
    <div class="alert alert-danger text-center mt-3" role="alert">
        {{frase}}
    </div>
    {{/frases}}
</main>
