<div class="container my-5">
    <div class="form-container">
        <h2 class="text-center mb-4">Crear Pregunta</h2>
        <form method="post" action="?page=crearPreguntas&action=crear">

            <div class="mb-3">
                <label for="pregunta" class="form-label">Pregunta</label>
                <input type="text" class="form-control" id="pregunta" name="pregunta" required>
            </div>

            <div class="mb-3">
                <label for="opcion1" class="form-label">Opción 1</label>
                <input type="text" class="form-control" id="opcion1" name="opcion1" required>
            </div>

            <div class="mb-3">
                <label for="opcion2" class="form-label">Opción 2</label>
                <input type="text" class="form-control" id="opcion2" name="opcion2" required>
            </div>

            <div class="mb-3">
                <label for="opcion3" class="form-label">Opción 3</label>
                <input type="text" class="form-control" id="opcion3" name="opcion3" required>
            </div>

            <div class="mb-3">
                <label for="opcion4" class="form-label">Opción 4</label>
                <input type="text" class="form-control" id="opcion4" name="opcion4" required>
            </div>

            <div class="mb-3">
                <label for="opcionCorrecta" class="form-label">Opción Correcta</label>
                <select class="form-select" id="opcionCorrecta" name="opcionCorrecta" required>
                    <option value="1">Opción 1</option>
                    <option value="2">Opción 2</option>
                    <option value="3">Opción 3</option>
                    <option value="4">Opción 4</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="categoria" class="form-label">Categoría</label>
                <select class="form-select" id="categoria" name="categoria" required>
                    {{#categorias}}
                        <option value="{{.}}">{{.}}</option>
                    {{/categorias}}
                </select>
            </div>

            <div class="btn-center">
                <button type="submit" class="btn btn-primary w-25 mx-2">Crear Pregunta</button>
                <button type="button" class="btn btn-secondary w-25 mx-2" onclick="window.location.href='/usuario/home'">Volver</button>
            </div>
        </form>
    </div>
</div>