<main class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
    <!-- Título y foto de perfil centrados con fondo blanco -->
    <div class="text-center mb-4 p-4 bg-white rounded shadow" style="max-width: 600px; width: 100%;">
        {{#usuario}}
            <h2>{{nombre_usuario}}</h2>
            <img src="{{foto_perfil}}" alt="Usuario" width="50" height="50" class="rounded-circle mb-3">
        {{/usuario}}
    </div>

    <!-- Columna derecha: historial de partidas -->
    <div class="history-container p-4 bg-white rounded shadow" style="max-width: 400px;">
        <h3 class="text-center">Historial de partidas</h3>

        <!-- Mejor puntaje -->
        <div class="d-flex justify-content-center align-items-center mb-3">
            <img src="../public/icons/cup.png" alt="Ranking" width="30" height="30" class="me-2">
            <p class="mb-0">Tu mejor puntaje fue: <strong>{{userRanking}}</strong></p>
        </div>

        <!-- Tabla con el historial de partidas -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Partida</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Fecha de partida</th>
            </tr>
            </thead>
            <tbody>
            {{#partidas}}
                <tr>
                    <td>{{numero}}</td> <!-- Enumerador de partidas -->
                    <td>{{resultado}}</td>
                    <td>{{fecha_creacion}}</td>
                </tr>
            {{/partidas}}
            </tbody>
        </table>
    </div>
</main>





