<main class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
    {{#error}}
        <div id="alert-error" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/error}}
    {{#success}}
        <div id="alert-success" class="alert alert-success alert-dismissible fade show text-center" role="alert">
            <i class="bi bi-check-circle-fill me-2"></i>
            {{success}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/success}}
    {{#warning}}
        <div id="alert-warning" class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            {{warning}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/warning}}
    <div class="card-container text-center mb-4 p-4 rounded shadow" style="max-width: 600px; width: 100%;">
        {{#usuario}}
            <h2>{{nombre_usuario}}</h2>
            <img src="{{foto_perfil}}" alt="Usuario" width="50" height="50" class="rounded-circle mb-3">
        {{/usuario}}
    </div>

    {{#jugador}}
    <div class="d-flex flex-wrap p-2 w-100 justify-content-center align-items-start">
    <div class="button-container d-flex flex-column align-items-center p-4 rounded shadow me-4"
         style="max-width: 200px;">
        <button type="button" class="btn btn-danger mb-3 w-100 d-flex align-items-center justify-content-center"
                onclick="window.location.href='/usuario/verPerfil'">
            <i class="material-symbols-outlined me-1">person</i>
            Ver perfil
        </button>
        <button type="button" class="btn btn-primary mb-3 w-100" id="nueva_partida"
                onclick="window.location.href='/partida/nueva'">
            <span><i class="material-symbols-outlined me-1">sports_esports</i>Nueva partida</span>
        </button>
        <button type="button" class="btn btn-success mb-3 w-100 d-flex align-items-center justify-content-center"
                onclick="window.location.href='/partida/ranking'">
            <i class="material-symbols-outlined me-1">leaderboard</i>
            Ver ranking de usuarios
        </button>
        <button type="button" class="btn btn-info mb-3 w-100 d-flex align-items-center justify-content-center"
                onclick="window.location.href='/crearPreguntas/form'">
            <i class="material-symbols-outlined me-1">list_alt_add</i>
            Crear Pregunta
        </button>
    {{/jugador}}

    {{#admin}}
        <div class="dashboard-container shadow p-4 rounded">
            <div class="d-grid gap-1">
                <button type="button" class="btn btn-danger mb-3 w-100 d-flex align-items-center justify-content-center"
                        onclick="window.location.href='/usuario/verPerfil'">
                    <i class="material-symbols-outlined me-1">person</i>
                    Ver perfil
                </button>
                <button type="button" class="btn btn-info d-flex align-items-center justify-content-center"
                        onclick="window.location.href='/admin/informes'">
                    <i class="material-symbols-outlined me-1">monitoring</i>
                    Ir a informes
                </button>
            </div>
        </div>
    {{/admin}}

    {{#editor}}
        <div class="dashboard-container shadow p-4 rounded">
            <div class="d-grid gap-1">
                <button type="button" class="btn btn-danger mb-3 w-100 d-flex align-items-center justify-content-center"
                        onclick="window.location.href='/usuario/verPerfil'">
                    <i class="material-symbols-outlined me-1">person</i>
                    Ver perfil
                </button>
                <button type="button" class="btn btn-info d-flex align-items-center justify-content-center"
                        onclick="window.location.href='/editor/verPreguntas'">
                    <i class="material-symbols-outlined me-1">list_alt</i>
                    Todas las Preguntas
                </button>
                <button type="button" class="btn btn-info d-flex align-items-center justify-content-center"
                        onclick="window.location.href='/editor/verPreguntasReportadas'">
                    <i class="material-symbols-outlined me-1">report</i>
                    Preguntas Reportdas
                </button>
                <button type="button" class="btn btn-info d-flex align-items-center justify-content-center"
                        onclick="window.location.href='/editor/verPreguntasSugeridas'">
                    <i class="material-symbols-outlined me-1">lightbulb</i>
                    Preguntas Sugeridas
                </button>
                <button type="button" class="btn btn-info d-flex align-items-center justify-content-center"
                        onclick="window.location.href='/editor/verPreguntasEliminadas'">
                    <i class="material-symbols-outlined me-1">delete</i>
                    Preguntas Eliminadas
                </button>
                <button type="button"
                        class="btn btn-success mt-3 w-100 d-flex align-items-center justify-content-center"
                        onclick="window.location.href='/crearPreguntas/form'">
                    <i class="material-symbols-outlined me-1">list_alt_add</i>
                    Crear Pregunta
                </button>
            </div>
        </div>
    {{/editor}}
</div>
    {{#jugador}}
        <div class="history-container p-4 rounded shadow mt-4 mt-sm-0" style="max-width: 400px;">
            <h3 class="text-center">Historial de partidas</h3>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <img src="../public/icons/cup.png" alt="Ranking" width="30" height="30" class="me-2">
                <p class="mb-0">Tu mejor puntaje fue: {{userRanking}}</p>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Partida</th>
                    <th scope="col">Puntaje</th>
                    <th scope="col">Fecha de partida</th>
                </tr>
                </thead>
                <tbody>
                {{#partidas}}
                    <tr>
                        <td>{{numero}}</td>
                        <td>{{resultado}}</td>
                        <td>{{fecha_creacion}}</td>
                    </tr>
                {{/partidas}}
                </tbody>
            </table>
            <button type="button" class="btn btn-warning w-100 d-flex align-items-center justify-content-center"
                    onclick="window.location.href='/usuario/historial'">
                <i class="material-symbols-outlined me-1">history</i>
                Ver historial completo
            </button>
        </div>
    {{/jugador}}
</div>
</main>
<script src="../public/js/alerts.js"></script>