<main class="flex-grow-1 d-flex align-items-center justify-content-center">
<div class="dashboard-container shadow p-4 bg-light rounded">
    {{#usuario}}
    <h2 class="text-center mb-4">Bienvenido {{nombre_usuario}} <img src="{{foto_perfil}}" alt="Usuario" width="40" height="40"></h2>
    <div class="d-flex align-items-center justify-content-center ms-auto mb-4">
        <span class="me-2 ms-2">
            <a><img src="../public/icons/cup.png" alt="Ranking" width="30" height="30"></a>
        </span>
        <span class="me-3">Tu mejor puntaje fue: {{userRanking}}</span>
    </div>
    {{/usuario}}
    <div class="d-grid gap-3">
        <button type="button" class="btn btn-danger" onclick="window.location.href='/usuario/search'">Ver perfil</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/partida/nueva'">Empezar nueva partida</button>
        <button type="button" class="btn btn-success" onclick="window.location.href='/partida/ranking'">Ver ranking de usuarios</button>
        <button type="button" class="btn btn-warning" onclick="window.location.href='historial_partidas.php'">Ver historial de partidas</button>
    </div>
</div>
</main>