<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<!-- HACER FUNCIONAR BIEN EL RESPONSIVE! -->
<main class="flex-grow-1 d-flex flex-wrap align-items-center justify-content-around">
    <div class="dashboard-container shadow p-4 bg-light rounded">
        <h2 class="text-center mb-4">Seleccione una opción</h2>
        <div class="d-grid gap-3">
            <button type="button" class="btn btn-info" onclick="window.location.href='/admin/cantidadJugadores'">Ver
                cantidad de jugadores
            </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/admin/cantidadPartidasJugadas'">
                Ver cantidad de partidas jugadas
            </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/admin/cantidadPreguntasCreadas'">
                Ver cantidad de
                preguntas creadas
            </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/admin/cantidadUsuariosNuevos'">
                Ver cantidad de usuarios nuevos
            </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/admin/cantidadUsuariosXPais'">Ver
                cantidad de usuarios por país
            </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/admin/cantidadUsuariosXSexo'">Ver
                cantidad de usuarios por sexo
            </button>
            <button type="button" class="btn btn-info"
                    onclick="window.location.href='/admin/cantidadUsuariosXGrupoEdad'">Ver cantidad de usuarios por
                grupo de edad
            </button>
            <button type="button" class="btn btn-info"
                    onclick="window.location.href='/admin/porcentajeDePreguntasCorrectas'">Ver porcentaje de preguntas
                respondidas correctamente por usuario
            </button>
        </div>
    </div>
    {{#cantJugadores}}
        <div class="dashboard-container shadow p-4 bg-light rounded">
            <h2 class="text-center mb-4">Cantidad de jugadores: {{cantJugadores}}</h2>
        </div>
    {{/cantJugadores}}
    {{#cantPartidasJugadas}}
        <div class="dashboard-container shadow p-4 bg-light rounded">
            <h2 class="text-center mb-4">Cantidad de partidas jugadas en total: {{cantPartidasJugadas}}</h2>
        </div>
    {{/cantPartidasJugadas}}
    {{#cantPreguntasCreadas}}
        <div class="dashboard-container shadow p-4 bg-light rounded">
            <h2 class="text-center mb-4">Cantidad de preguntas creadas en total: {{cantPreguntasCreadas}}</h2>
        </div>
    {{/cantPreguntasCreadas}}
    {{#cantUsuariosNuevos}}
        <div class="dashboard-container shadow p-4 bg-light rounded">
            <h2 class="text-center mb-4">Cantidad de usuarios nuevos en el ultimo mes: {{cantUsuariosNuevos}}</h2>
        </div>
    {{/cantUsuariosNuevos}}
    {{#mostrarUsuariosXPais}}
        <div class="table-responsive shadow mt-4 mt-sm-0" style="max-width: 90%; max-height: 400px; overflow-y: auto;">
            <table class="table table-striped table-hover text-center align-middle overflow-hidden table-bordered">
                <thead class="table-secondary align-middle">
                <tr>
                    <th>Pais</th>
                    <th>Total de Usuarios</th>
                </tr>
                </thead>
                <tbody>
                {{#cantUsuariosXPais}}
                    <tr>
                        <td><p>{{pais}}</p></td>
                        <td><p>{{total_usuarios}}</p></td>
                    </tr>
                {{/cantUsuariosXPais}}
                </tbody>
            </table>
        </div>

        <div class="chart-container shadow p-4 bg-light rounded mt-4 mt-sm-0" style="max-width: 90%;">
            <div class="row mb-3 text-center">
                <div class="col-12 col-md-4">
                    <label>Desde</label>
                    <input type="date" id="fecha_inicio" class="form-control" placeholder="Fecha de inicio">
                </div>
                <div class="col-12 col-md-4">
                    <label>Hasta</label>
                    <input type="date" id="fecha_fin" class="form-control" placeholder="Fecha de fin">
                </div>
                <div class="col-12 col-md-4 mt-2 mt-sm-0">
                    <button class="btn btn-primary w-75 h-100" id="filtrar_btn">Filtrar</button>
                </div>
            </div>
            <div id="contenidoPDF">
                <canvas id="miGraficoTorta" width="100%" height="500"
                        data-labels='{{labels}}'
                        data-data='{{data}}'
                        data-chart-label='{{chartLabel}}'
                        data-chart-text='{{chartText}}'
                        data-nombre-funcion='{{nombreFuncion}}'>
                </canvas>
            </div>
            <div class="dropdown mt-4 text-center">
                <button class="btn btn-primary dropdown-toggle" type="button" id="downloadButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Descargar Gráfico
                </button>
                <ul class="dropdown-menu" aria-labelledby="downloadButton">
                    <li><a class="dropdown-item" href="#" data-format="jpg">JPG</a></li>
                    <li><a class="dropdown-item" href="#" data-format="png">PNG</a></li>
                    <li><a class="dropdown-item" href="#" data-format="pdf">PDF</a></li>
                </ul>
            </div>
        </div>
        <script src="../public/js/graficos.js"></script>
    {{/mostrarUsuariosXPais}}
    {{#mostrarUsuariosXSexo}}
        <div class="table-responsive shadow mt-4 mt-sm-0" style="max-width: 90%; max-height: 400px; overflow-y: auto;">
            <table class="table table-striped table-hover text-center align-middle overflow-hidden table-bordered">
                <thead class="table-secondary align-middle">
                <tr>
                    <th>Pais</th>
                    <th>Total de Usuarios</th>
                </tr>
                </thead>
                <tbody>
                {{#cantUsuariosXSexo}}
                    <tr>
                        <td><p>{{sexo}}</p></td>
                        <td><p>{{total_usuarios}}</p></td>
                    </tr>
                {{/cantUsuariosXSexo}}
                </tbody>
            </table>
        </div>

        <div class="chart-container shadow p-4 bg-light rounded mt-4 mt-sm-0" style="max-width: 90%;">
            <div class="row mb-3 text-center">
                <div class="col-12 col-md-4">
                    <label>Desde</label>
                    <input type="date" id="fecha_inicio" class="form-control" placeholder="Fecha de inicio">
                </div>
                <div class="col-12 col-md-4">
                    <label>Hasta</label>
                    <input type="date" id="fecha_fin" class="form-control" placeholder="Fecha de fin">
                </div>
                <div class="col-12 col-md-4 mt-2 mt-sm-0">
                    <button class="btn btn-primary w-75 h-100" id="filtrar_btn">Filtrar</button>
                </div>
            </div>
            <div id="contenidoPDF">
                <canvas id="miGraficoTorta" width="100%" height="500"
                        data-labels='{{labels}}'
                        data-data='{{data}}'
                        data-chart-label='{{chartLabel}}'
                        data-chart-text='{{chartText}}'
                        data-nombre-funcion='{{nombreFuncion}}'>
                </canvas>
            </div>
            <div class="dropdown mt-4 text-center">
                <button class="btn btn-primary dropdown-toggle" type="button" id="downloadButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Descargar Gráfico
                </button>
                <ul class="dropdown-menu" aria-labelledby="downloadButton">
                    <li><a class="dropdown-item" href="#" data-format="jpg">JPG</a></li>
                    <li><a class="dropdown-item" href="#" data-format="png">PNG</a></li>
                    <li><a class="dropdown-item" href="#" data-format="pdf">PDF</a></li>
                </ul>
            </div>
        </div>
        <script src="../public/js/graficos.js"></script>
    {{/mostrarUsuariosXSexo}}
    {{#mostrarUsuariosXGrupoEdad}}
        <div class="table-responsive shadow mt-4 mt-sm-0" style="max-width: 90%; max-height: 400px; overflow-y: auto;">
            <table class="table table-striped table-hover text-center align-middle overflow-hidden table-bordered">
                <thead class="table-secondary align-middle">
                <tr>
                    <th>Grupo de edad</th>
                    <th>Total de Usuarios</th>
                </tr>
                </thead>
                <tbody>
                {{#cantUsuariosXGrupoEdad}}
                    <tr>
                        <td><p>{{grupo_edad}}</p></td>
                        <td><p>{{total_usuarios}}</p></td>
                    </tr>
                {{/cantUsuariosXGrupoEdad}}
                </tbody>
            </table>
        </div>

        <div class="chart-container shadow p-4 bg-light rounded mt-4 mt-sm-0" style="max-width: 90%;">
            <div class="row mb-3 text-center">
                <div class="col-12 col-md-4">
                    <label>Desde</label>
                    <input type="date" id="fecha_inicio" class="form-control" placeholder="Fecha de inicio">
                </div>
                <div class="col-12 col-md-4">
                    <label>Hasta</label>
                    <input type="date" id="fecha_fin" class="form-control" placeholder="Fecha de fin">
                </div>
                <div class="col-12 col-md-4 mt-2 mt-sm-0">
                    <button class="btn btn-primary w-75 h-100" id="filtrar_btn">Filtrar</button>
                </div>
            </div>
            <div id="contenidoPDF">
                <canvas id="miGraficoTorta" width="100%" height="500"
                        data-labels='{{labels}}'
                        data-data='{{data}}'
                        data-chart-label='{{chartLabel}}'
                        data-chart-text='{{chartText}}'
                        data-nombre-funcion='{{nombreFuncion}}'>
                </canvas>
            </div>
            <div class="dropdown mt-4 text-center">
                <button class="btn btn-primary dropdown-toggle" type="button" id="downloadButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Descargar Gráfico
                </button>
                <ul class="dropdown-menu" aria-labelledby="downloadButton">
                    <li><a class="dropdown-item" href="#" data-format="jpg">JPG</a></li>
                    <li><a class="dropdown-item" href="#" data-format="png">PNG</a></li>
                    <li><a class="dropdown-item" href="#" data-format="pdf">PDF</a></li>
                </ul>
            </div>
        </div>
        <script src="../public/js/graficos.js"></script>
    {{/mostrarUsuariosXGrupoEdad}}
    {{#mostrarPorcentajePreguntasCorrectas}}
        <div class="table-responsive shadow mt-4 mt-sm-0" style="max-width: 90%; max-height: 400px; overflow-y: auto;">
            <table class="table table-striped table-hover text-center align-middle overflow-hidden table-bordered">
                <thead class="table-secondary align-middle">
                <tr>
                    <th>Usuario</th>
                    <th>Total respuestas correctas</th>
                    <th>Porcentaje de respuestas correctas</th>
                </tr>
                </thead>
                <tbody>
                {{#porcentajePreguntasCorrectas}}
                    <tr>
                        <td><p>{{usuario}}</p></td>
                        <td><p>{{total_correctas}}</p></td>
                        <td><p>{{porcentaje_correctas}}%</p></td>
                    </tr>
                {{/porcentajePreguntasCorrectas}}
                </tbody>
            </table>
        </div>
        <div class="chart-container shadow p-4 bg-light rounded mt-4 mt-sm-0" style="max-width: 90%;">
            <div class="row mb-3 text-center">
                <div class="col-12 col-md-4">
                    <label>Desde</label>
                    <input type="date" id="fecha_inicio" class="form-control" placeholder="Fecha de inicio">
                </div>
                <div class="col-12 col-md-4">
                    <label>Hasta</label>
                    <input type="date" id="fecha_fin" class="form-control" placeholder="Fecha de fin">
                </div>
                <div class="col-12 col-md-4 mt-2 mt-sm-0">
                    <button class="btn btn-primary w-75 h-100" id="filtrar_btn">Filtrar</button>
                </div>
            </div>
            <div id="contenidoPDF">
                <canvas id="miGraficoTorta" width="100%" height="500"
                        data-labels='{{labels}}'
                        data-data='{{data}}'
                        data-chart-label='{{chartLabel}}'
                        data-chart-text='{{chartText}}'
                        data-mostrar-porcentajes='{{mostrarPorcentaje}}'
                        data-nombre-funcion='{{nombreFuncion}}'>
                </canvas>
            </div>
            <div class="dropdown mt-4 text-center">
                <button class="btn btn-primary dropdown-toggle" type="button" id="downloadButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Descargar Gráfico
                </button>
                <ul class="dropdown-menu" aria-labelledby="downloadButton">
                    <li><a class="dropdown-item" href="#" data-format="jpg">JPG</a></li>
                    <li><a class="dropdown-item" href="#" data-format="png">PNG</a></li>
                    <li><a class="dropdown-item" href="#" data-format="pdf">PDF</a></li>
                </ul>
            </div>
        </div>
        <script src="../public/js/graficos.js"></script>
    {{/mostrarPorcentajePreguntasCorrectas}}
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>