<main class="flex-grow-1 d-flex align-items-center justify-content-center">
<div class="dashboard-container shadow p-4 bg-light rounded" style="background-image: linear-gradient({{color}}, white);">
    <div class="question-container">
    {{#pregunta}}
        <h2 class="text-center">{{categoria}}</h2>
        <h2 class="question">{{pregunta}}</h2>
            <form action="../partida/validarRespuesta" method="POST">
                <div class="row">
                    <div class="col-6">
                        <button type="submit" name="opcion" class="btn btn-primary w-100 mb-2" value="1" {{#respuestaDada}}disabled{{/respuestaDada}}>{{opcion_1}}</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" name="opcion" class="btn btn-primary w-100 mb-2" value="2" {{#respuestaDada}}disabled{{/respuestaDada}}>{{opcion_2}}</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" name="opcion" class="btn btn-primary w-100 mb-2" value="3" {{#respuestaDada}}disabled{{/respuestaDada}}>{{opcion_3}}</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" name="opcion" class="btn btn-primary w-100 mb-2" value="4" {{#respuestaDada}}disabled{{/respuestaDada}}>{{opcion_4}}</button>
                    </div>
                </div>
            </form>
    {{/pregunta}}

        {{#respuestaDada}}
            {{#correcta}}
                <h3>¡Felicidades, acertaste! +1 punto</h3>
            {{/correcta}}
            {{^correcta}}
                <h3>Una lástima, vuelve a intentar</h3>
            {{/correcta}}

            <h4>Puntaje Actual: {{resultado}} puntos</h4>
            <div class="mt-4 text-center">
                <button type="button" class="btn btn-danger">Reportar</button>
                {{#correcta}}
                    <button type="button" class="btn btn-success me-3" onclick="window.location.href='../partida/nueva'">Siguiente pregunta</button>
                {{/correcta}}
                {{^correcta}}
                    <button type="button" class="btn btn-success me-3" onclick="window.location.href='../usuario/home'">Al home</button>
                {{/correcta}}
            </div>
        {{/respuestaDada}}

    </div>

</div>
</main>