<div class="text-center mb-1 mt-5">
    <img src="../public/icons/podium.png" alt="Ranking" style="width: 100px; height: auto; margin: auto;">
    <h2 class="mt-2">Ranking de Usuarios</h2>
</div>
<div class="table-responsive shadow" style="max-height: 600px; width: 800px; overflow-y: auto; margin: 20px auto 0;">
    <table class="table table-striped table-hover text-center align-middle overflow-hidden table-bordered">
        <thead class="table-secondary">
        <tr>
            <th>Ranking</th>
            <th>Usuario</th>
            <th>Puntuación máxima</th>
        </tr>
        </thead>
        <tbody>
        {{#rankings}}
            <tr>
                <td><p>{{ranking}}</p></td>
                <td><form method="post" action="/usuario/search2">
                    <button type="submit" class="btn text-primary" name="usuario" value="{{nombre_usuario}}">{{nombre_usuario}}</button>
                </form> </td>
                <td><p>{{resultado}}</p></td>
                <td>
                    <img src="/usuario/search2?qr=true&usuario={{nombre_usuario}}" alt="QR de perfil de {{nombre_usuario}}" style="width: 100px; height: 100px;">
                </td>
            </tr>
        {{/rankings}}
        </tbody>
    </table>
</div>