<main class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
{{#error}}
    <div id="alert-error" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/error}}
<div class="container my-5 ">
    <div class="form-container">
        <h2 class="text-center mb-4">Formulario de Registro</h2>
        <form action="/usuario/procesarRegistro" method="POST" enctype="multipart/form-data"
              onsubmit="return validateForm();">
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="material-symbols-outlined">person</i>
                    </span>
                    <input type="text" class="form-control" id="username" name="username" required
                           oninput="checkUsername();">
                </div>
                <div id="usernameError" class="text-danger mt-2" style="display:none;">Este nombre de usuario ya está en
                    uso.
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group">
            <span class="input-group-text">
                <i class="material-symbols-outlined">lock</i>
            </span>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="confirm_password" class="form-label">Repetir Contraseña</label>
                <div class="input-group">
            <span class="input-group-text">
                <i class="material-symbols-outlined">lock_reset</i>
            </span>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <div id="passwordError" class="text-danger mt-2" style="display:none;">Las contraseñas no coinciden.
                </div>
            </div>

            <div class="mb-3">
                <label for="fullname" class="form-label">Nombre Completo</label>
                <div class="input-group">
            <span class="input-group-text">
                <i class="material-symbols-outlined">badge</i>
            </span>
                    <input type="text" class="form-control" id="fullname" name="fullname" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="birthyear" class="form-label">Fecha de Nacimiento</label>
                <div class="input-group">
            <span class="input-group-text">
                <i class="material-symbols-outlined">calendar_today</i>
            </span>
                    <input type="date" class="form-control" id="birthyear" name="birthyear" min="1900-01-01"
                           max="2024-12-31" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="sexo" class="form-label">Sexo</label>
                <div class="input-group">
            <span class="input-group-text">
                <i class="material-symbols-outlined">wc</i>
            </span>
                    <select class="form-select" id="sexo" name="sexo" required>
                        <option value="" selected disabled>Selecciona tu sexo</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="O">Otro</option>
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <div class="input-group">
            <span class="input-group-text">
                <i class="material-symbols-outlined">email</i>
            </span>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>

            <div class="mb-3">
                <div class="alert alert-dark d-flex align-items-center justify-content-center" role="alert">
                    <i class="material-symbols-outlined me-1">public</i>
                    Selecciona tu País y Ciudad en el mapa
                </div>
                <div id="map"></div>
                <input type="hidden" id="country" name="country" required>
                <input type="hidden" id="city" name="city" required>
            </div>

            <div class="mb-3">
                <label for="selectedCountry" class="form-label">País</label>
                <div class="input-group">
            <span class="input-group-text">
                <i class="material-symbols-outlined">public</i>
            </span>
                    <input type="text" class="form-control" id="selectedCountry" readonly required>
                </div>
            </div>

            <div class="mb-3">
                <label for="selectedCity" class="form-label">Ciudad</label>
                <div class="input-group">
            <span class="input-group-text">
                <i class="material-symbols-outlined">location_city</i>
            </span>
                    <input type="text" class="form-control" id="selectedCity" readonly required>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Suba la imagen de su perfil:</label>
                <div class="input-group">
            <span class="input-group-text">
                <i class="material-symbols-outlined">image</i>
            </span>
                    <input type="file" class="form-control" id="image" name="image" required>
                </div>
            </div>

            <div class="btn-center">
                <button type="submit" class="btn btn-primary mx-2 mb-2" id="submitButton">
                    <span id="buttonSpinner" class="spinner-border spinner-border-sm me-2" style="display: none;"
                          role="status" aria-hidden="true"></span>
                    Registrarse
                </button>
                <button type="button" class="btn btn-secondary mx-2 mb-2" onclick="window.location.href='/'">Volver
                </button>
            </div>
        </form>

    </div>
</div>
</main>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script src="../public/js/mapaRegistro.js"></script>
<script src="../public/js/validaciones.js"></script>
<script src="../public/js/validarUsername.js"></script>
<script src="../public/js/alerts.js"></script>